.clone-info-pane {
  background-color: #FF8080;
}

.clone-info-pane-list-container {
  background-color: beige;
  border: inset 3px;
  overflow: auto;
  display: flex;
  flex-direction: column;
}

.clone-info-pane-list {
  /* list-style-type: none; */
  padding-left: 0px;
  margin: 0px;
  overflow: auto;
  cursor: default;
}

.clone-info-pane-list li {
  padding: 1px;
} 

.clone-info-pane-list li:nth-child(even) { 
  background: rgb(219, 219, 185);
}

.clone-info-pane-list li.selected {
  background: yellow;
  border: solid 1px black;
  padding: 0px;
}

.clone-info-pane-list-footer {
  border-top: solid 1px black;
  background-color: white;
}
