.middle-pane {
  background-color: lightgoldenrodyellow;
  height: 100vh;
  max-height: 100vh;
  flex: 1 1 0;
  min-width: 0;
  display: flex;
  flex-direction: column;
}

.editor-contents {
  display: flex;
  flex-direction: row;
  margin: 0px;
  padding: 0px;
  overflow: auto;
  height: 100%;
}

.editor-container {
  margin: 0px;
  padding: 0px;
  flex-grow: 1;
  overflow: auto;
  position: relative;
}

.fa-rotate-225 {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
